.exchange-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    min-height: 55dvh;
    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 50dvw;
        .exchange-icon{
            height: 60px;
        }
    }
    .left-side{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 25dvw;
    }
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}